.VisualHeader {
  border-radius: 10px;
  background-color: lightslategray;
}
.VisualHeader .buttons {
  align-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
}
.VisualHeader button {
  text-align: center;
  width: 80px;
  height: 60px;
}

.MainLayout {
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;
}

.MainLayout .side {
  min-width: 200px;
  min-height: 350px;
  align-content: center;
  justify-content: space-around;
  background-color: lightslategray;
  height: 70vh;
}

.MainLayout .pad {
  width: 10px;
}

.MainLayout .main {
  flex: auto;
  background-color: darkslategray;
  height: 70vh;
}

.TableNameTag button {
  background-color: lightslategray;
  border-radius: 0px;
  width: 100%;
}

.SideView {
  background-color: lightslategray;
  min-height: 350px;
  display: inline-block;
  padding: 0;
}

.MainView {
  padding-top: 15px;
  border-radius: 10px;
  min-height: 350px;
  background-color: darkslategray;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.MainView table {
  color: cornsilk;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.MainView th,
td {
  border: solid 1px;
}

.MainView .ColumnNameRow {
  color: aquamarine;
}
